.venv/
.venv-torch/
venv-clean/
.env
*.env
transcriptions/*
!transcriptions/.gitkeep
audio/*
!audio/.gitkeep
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.egg-info/
dist/
build/
.vscode/
stems/*
!stems/.gitkeep